<div id="artmap" class="hidden-xs"></div>

<div class="navbar navbar-fixed-top hidden-xs" role="navigation">
  <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#about"><%=t :about %></a></li>
          <li><a href="https://twitter.com/sotm" target="_blank"><%=t :news %></a></li>
          <li><a href="#venue"><%=t :the_venue %></a></li>
          <li><a href="#register" id="register-button"><%=t :register %></a></li>
          <li><%=t "switch_lang.html" %></li>
        </ul>
  </div>
</div>
<div class="navbar visible-xs navbar-fixed-bottom" role="navigation">

  <div class="navbar-header">
    <button type="button" class="btn navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    <i class="fa fa-bars fa-2x" style="color:white"></i>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#about"><%=t :about %></a></li>
          <li><a href="https://twitter.com/sotm" target="_blank"><%=t :news %></a></li>
          <li><a href="#venue"><%=t :the_venue %></a></li>
          <li><a href="#register" id="register-button" style="margin-right:0"><%=t :register %></a></li>

          <li><%=t "switch_lang_phone.html" %></li>
        </ul>
  </div>
</div>
<div class="row banner" style="padding-top:75px;">
                
      <div class="col-xs-2 visible-xs"></div>
      <div class="col-sm-3 col-xs-8">
        <%= image_tag 'logo_full.png', {:class => 'hidden-xs hidden-sm img-responsive'} %>
        <%= image_tag 'logo_full.png', {:class => 'visible-sm img-responsive', :style => 'padding-top:50px;'} %>
        <%= image_tag 'logo_full.png', {:class => 'visible-xs img-responsive', :style => 'padding-bottom:30px; margin-top:-40px;'} %>
      </div>
      <div class="col-sm-8 text-left" style="padding-top:40px;">
        <h1><%= t(:conference_name) %></h1>
        <h3><%= t(:conference_slogan_2) %>
        <br>
        <i class="fa fa-calendar-o" style="color:rgba(237, 28, 36, 0.75)"></i> <%= t(:conference_date) %></h3>
        <h4><i>&nbsp;<i class="fa fa-quote-left" style="color:rgba(255, 255, 255, 0.75)"></i>&nbsp;<%= t(:conference_slogan) %>&nbsp;<i class="fa fa-quote-right" style="color:rgba(255, 255, 255, 0.75)"></i>&nbsp;</i></h4>
        <h5>

        <a href="https://twitter.com/sotm" class="social-buttons" target="_blank">
          <span class="fa-stack fa-lg" style="color:#55acee;">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-twitter fa-inverse fa-stack-1x"></i>
          </span>
        </a>
        <a href="https://www.facebook.com/OpenstreetmapArgentina" class="social-buttons" target="_blank">
          <span class="fa-stack fa-lg" style="color:#43609c;">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-facebook fa-inverse fa-stack-1x"></i>
          </span>
        </a>
        </h5> 
      </div>
      <div class="col-xs-2 visible-xs"></div>
</div> 
