<div class="row banner" style="padding-top:75px;">
                
      <div class="col-xs-2 visible-xs"></div>
      <div class="col-sm-3 col-xs-8">
        <%= image_tag 'logo_full.png', {:class => 'hidden-xs hidden-sm img-responsive'} %>
        <%= image_tag 'logo_full.png', {:class => 'visible-sm img-responsive', :style => 'padding-top:50px;'} %>
        <%= image_tag 'logo_full.png', {:class => 'visible-xs img-responsive', :style => 'padding-bottom:30px; margin-top:-40px;'} %>
      </div>
      <div class="col-sm-8 text-left" style="padding-top:40px;">
        <h1><%= t(:conference_name) %></h1>
        <h3><%= t(:conference_slogan_2) %>
        <br>
        <i class="fa fa-calendar-o" style="color:rgba(237, 28, 36, 0.75)"></i> <%= t(:conference_date) %></h3>
        <h4><i>&nbsp;<i class="fa fa-quote-left" style="color:rgba(255, 255, 255, 0.75)"></i>&nbsp;<%= t(:conference_slogan) %>&nbsp;<i class="fa fa-quote-right" style="color:rgba(255, 255, 255, 0.75)"></i>&nbsp;</i></h4>
        <h5>

        <a href="https://twitter.com/sotm" class="social-buttons" target="_blank"> 
          <span class="fa-stack fa-lg" style="color:#55acee;">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-twitter fa-inverse fa-stack-1x"></i>
          </span>
        </a>

    		<a href="https://blog.openstreetmap.org/" target="_blank">
      		<button type="button" class="btn btn-primary btn-sm" style="color:#white;">
      			<span class="glyphicon glyphicon-comment"></span>
            Blog
      		</button>
    		</a>
      
      </div>
      <div class="col-xs-2 visible-xs"></div>
</div> 