<a id="register"></a>
<div class="row block same-height hidden-xs translucid-white">
                

      <div class="col-sm-8 same-height">
        <h3><i class="fa fa-bullhorn" style="color:rgba(237, 28, 36, 0.75)"></i> <%=t :organization %></h3>
        
        <ul class="list-group">
          <li class="list-group-item"><b><%=t :coordination %></b>: <a href="mailto:gonzalo@stateofthemap.org?subject=SotM 2014 - Contact"> Gonzalo Gabriel Perez</a></li>
          <li class="list-group-item"><b><%=t :venue %></b>: Miguel Angel Blanco, Gonzalo Gabriel Perez</li>
          <li class="list-group-item"><b><%=t :communication %></b>: Germán Carrasco, Malena Libman, Gonzalo Gabriel Perez</li>
          <li class="list-group-item"><b><%=t :design %></b>: María Inés Szychowski, Juan Pablo Kutianski</li>
          <li class="list-group-item"><b><%=t :website %></b>: Fernando Sanz, Mauricio Miranda, Germán Carrasco</li>
          <li class="list-group-item"><b><%=t :sponsors_international %></b>:  Henk Hoff</li>
          <li class="list-group-item"><b><%=t :sponsors_southamerica %></b>:  Melody Atienza, Mailen Soria</li>
        <ul>
      </div>



      <div class="col-sm-4 col-xs-12 same-height" style="background: rgba(240, 240, 240, 0.75)">
        <h3><%=t :isologo %></h3>
        <p>
            <%= image_tag 'logo_full.png', {:class => '', :style => 'width:45%'} %>
          
            <%= image_tag 'logo.png', {:class => '', :style => 'width:45%; float:right'} %>
        </p>
        <%=t 'isologo_about.html' %>
        
      </div>
</div> 

<div class="row block visible-xs translucid-white">
                

      <div class="col-xs-12" style="background: rgba(77, 179, 197, 0.75)">
        <h3><%=t :organization %></h3>
        
        <ul class="list-group">
          <li class="list-group-item"><b><%=t :coordination %></b>: <a href="mailto:gonzalo@stateofthemap.org?subject=SotM 2014 - Contact" target="_blank"> Gonzalo Gabriel Perez</a></li>
          <li class="list-group-item"><b><%=t :venue %></b>: Miguel Angel Blanco, Gonzalo Gabriel Perez</li>
          <li class="list-group-item"><b><%=t :communication %></b>: Germán Carrasco, Gonzalo Gabriel Perez</li>
          <li class="list-group-item"><b><%=t :design %></b>: María Inés Szychowski, Juan Pablo Kutianski</li>
          <li class="list-group-item"><b><%=t :website %></b>: Fernando Sanz, Mauricio Miranda, Germán Carrasco</li>
          <li class="list-group-item"><b><%=t :sponsors_international %></b>:  Henk Hoff</li>
          <li class="list-group-item"><b><%=t :sponsors_southamerica %></b>:  Melody Atienza, Mailen Soria</li>
        <ul>
      </div>

      <div class="col-xs-12" style="background: rgba(240, 240, 240, 0.75)">
        <h3><%=t :isologo %></h3>
        <p>
            <%= image_tag 'logo_full.png', {:class => '', :style => 'width:45%'} %>
          
            <%= image_tag 'logo.png', {:class => '', :style => 'width:45%; float:right'} %>
        </p>
        <%=t 'isologo_about.html' %>
        
      </div>
</div> 
