
<div class="row block" id="register">
                

      <div class="col-sm-4 col-xs-12">
        <h3><%=t :registration %></h3>
        <a class="btn btn-lg btn-warning" role="button" href="http://sotm14.eventbrite.com"><%=t :registration_foreigns_button %></a>
        <p><%=t :registration_foreigns_text %></p>
        
      </div>

      <div class="col-sm-4 col-xs-12">
        <h3><%=t :registration_locals %></h3>
        <a class="btn btn-lg btn-warning" role="button" href="#register"><span style="text-decoration: line-through"><%=t :registration_locals_button %></span></a>
        <p><%=t :registration_locals_text %></p>
        
      </div>
      <div class="col-sm-4 col-xs-12" style="background: rgba(77, 179, 197, 0.75)">
        <p><%=t :registration_community %></p>
      </div>
</div> 
