<div class="container">
  <div class="content">
    <div class="row">
      <div class="span9">
        <div class="hero-unit homeBanner" style="text-align: right;">
          <h1><%= t(:conference_name) %></h1>
          <h3><%= t(:conference_slogan) %></h3>
          <h2><%= t(:conference_date) %></h2>
          <h3><%= t(:conference_venue) %></h3>
          <h4><%= t(:conference_location) %></h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        <h4><%= t(:organized_by) %></h4>
        <div class="well well-small homeBox">
          <%= image_tag 'geoinquietos_logo.png' %>
        </div>
      </div>
      <div class="span3">
        <h4><%= t(:supported_by) %></h4>
        <div class="well well-small homeBox">
          <%= image_tag 'osgeo_logo.png' %>
        </div>
      </div>
      <div class="span3">
        <h4><%= t(:invited_by) %></h4>
        <div class="well well-small homeBox">
          <%= image_tag 'ign_logo.png' %>
        </div>
      </div>
    </div>
  </div>
</div>