<div class="container">
  <div class="content">
    <div class="row">
      <div class="span9">
        <div class="hero-unit banner" style="text-align: right;">
          <h1><%= t(:conference_name) %></h1>
          <h3><%= t(:conference_slogan) %></h3>
          <h2><%= t(:conference_date) %></h2>
          <h3><%= t(:conference_venue) %></h3>
          <h4><%= t(:conference_location) %></h4>
        </div>
      </div>
    </div>
    <div class="row" id="about">
      <div class="span9">
        <div class="well">
          <%= t('conference_about.html') %>
        </div>
      </div>
    </div>
    <% if Speaker.count > 0 %>
      <div class="row" id="speakers">
        <div class="span9">
          <div id="speakers" class="well banner">
            <div class="pull-right">
              <%= link_to t(:new_abstract), new_abstract_path, :class => 'label label-info' %>
            </div>
            <h3><%= Speaker.model_name.human(:count => 2) %></h3>
            <ul class="thumbnails">
              <% Speaker.all.each do |speaker| %>
                <li>
                  <%= link_to image_tag(speaker.picture_url), 'javascript:void(0)', 
                    'rel' => 'popover', 
                    'data-placement' => 'right',
                    'data-trigger' => 'hover',
                    'data-content' => speaker.description,
                    'data-original-title' => speaker.name,
                    :class => 'thumbnail'
                  %>
                  <h4><%= speaker.name %></h4>  
                  <h5><%= speaker.title %></h5>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row" id="venue">
      <div class="span9">
        <div class="well">
          <%= t('venue_about.html') %>
          <div id="map"></div>
        </div>
      </div>
    </div>
    <% if Sponsor.count > 0 %>
      <div class="row" id="sponsors">
        <div class="span9">
          <div id="sponsors" class="well">
            <div class="pull-right">
              <%= link_to t(:become_sponsor), 'assets/brochure.pdf', :target => '_blank', :class => 'label label-info' %>
            </div>
            <h2><%= Sponsor.model_name.human(:count => 2) %></h2>
            <ul class="thumbnails">
              <% Sponsor.all(:order => :sponsor_type_id).each do |sponsor| %>
                <li>
                  <%= link_to image_tag(sponsor.logo_url, :class => sponsor.sponsor_type.name.downcase), 
                    sponsor.website, 
                    :class => "thumbnail" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>