<div class="row">
  <div class="col-md-12 banner">
    <div class="row">
      <div class="col-md-12 text-center">
        <%= image_tag 'logo_full.png', {:class => 'logo'} %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 jumbotron">
        <h2>The 2014 international OpenStreetMap conference will be held at Buenos Aires. This is the first time SOTM will take place in South America. You can't miss it!</h2>
        <br/>
        <h4>State of the Map is the global gathering for everyone contributes to and/or uses OpenStreetMap. We assemble to celebrate the scale of the changes and achievements so far. There are keynotes and breakout streams of presentations and workshops examining current practice, organisation and relationships.</h4>
        <br/>
        <a href="#about" class="btn btn-info btn-lg" role="button">More info</a>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div> 
<div id="about" class="row block">
  <div class="col-md-12">
    <h1>About the conference</h1>
    <p>The State of the Map (SotM) conference is the annual conference of OpenStreetMap. Organised by the OpenStreetMap Foundation it has been held each year since 2007. There have also been any other regional and local conferences named "State of the Map".</p>
    <p>After being in Europe, North America and Asia, it is time to explore yet another continent. The OpenStreetMap Foundation happy to announce that the 8th international State of the Map 2014 conference will be held in Buenos Aires, Argentina on November 7th–9th.</p>
    <p>OSM is a truly global project with people all over the globe. Having SotM14 in Argentina is a great way to show the world what’s going on in South America regarding OSM and it can help strengthen the local OSM communities there.</p>
    <div id="photos" class="carousel slide" data-ride="carousel" data-interval="3000">
      <div class="carousel-inner">
        <% @images.each_with_index do |image, index| %>
          <div class="item<%= ' active' if index == 0 %>">
            <%= image_tag image %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="speakers" class="row block block-alternative">
  <div class="col-md-12">
    <h1>The Speakers</h1>
    <div class="speakers">
      <% @speakers.each do |speaker| %>
        <div class="speaker" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
          <h3><%= speaker.name %></h3>
          <%= image_tag speaker.picture_url, class: "img-circle" %>
          <p><%= speaker.description %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div id="venue" class="row block">
  <div class="col-md-12">
    <h1>The Venue</h1>
    <p>The National Geographic Institue (Instituto Geográfico Nacional - IGN) is a public organism which has as its main mission the representation of the national territory through the official cartography and watching over so that maps of the Argentine Republic which are made, that come in or that circulate inside the country are compliant with that official cartography.</p>
    <div id="map"></div>
  </div>
</div>