<%= form_for @abstract, :html => { :class => 'form-horizontal' } do |f| %>
  <% if user_signed_in? %>
    <div class="control-group">
      <%= f.label t(:status), :class => 'control-label' %>
      <div class="controls">
        <%= collection_select(:abstract, :abstract_status_id, AbstractStatus.all, :id, :name) %>
      </div>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :author, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :author, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :organization, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :organization, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field input-xxlarge' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area input-xxlarge' %>
    </div>
  </div>
  <% unless user_signed_in? %>
    <div class="control-group">
      <div class="controls">
        <%= recaptcha_tags %>
      </div>
    </div>
  <% end %>
  
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                abstracts_path, :class => 'btn' %>
  </div>
<% end %>
