<%- model_class = Abstract -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human(:count => 2) %></h1>
</div>
<%= form_tag(:abstracts, :method => "get") do %>
  <% AbstractStatus.order(:id).each do |status| %> 
    <%= check_box_tag 'abstract_status_id[]', status.id, ((params[:abstract_status_id] and params[:abstract_status_id].include?(status.id.to_s)) or (!params[:abstract_status_id] and status.id < AbstractStatus::APPROVED)) %>
    <%= status.name %>
  <% end %>
  <%= submit_tag(t(:filter), :class => 'btn btn-mini btn-primary') %>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:is_key) %></th>
      <th><%= t('status') %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:author) %></th>
      <th><%= model_class.human_attribute_name(:organization) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @abstracts.each do |abstract| %>
      <tr>
        <td><%= link_to abstract.id, abstract_path(abstract) %></td>
        <td><i class="<%= abstract.is_key ? 'icon-ok' : 'icon-remove' %>"></i></td>
        <td><%= abstract.abstract_status.name %></td>
        <td><%= abstract.title %></td>
        <td><%= abstract.author %></td>
        <td><%= abstract.organization %></td>
        <td><%= abstract.email %></td>
        <td><%=l abstract.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_abstract_path(abstract), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      abstract_path(abstract),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_abstract_path,
            :class => 'btn btn-primary' %>
