<div id="program" class="row block">
  <div class="col-xs-12 col-sm-12">
    <h1 class=""><i class="fa fa-calendar" style="color:rgba(237, 28, 36, 0.75)"></i> <%=t :program %></h1>

		<i><%=t :conference_date %></i>
		
		<div id="" class="row">


				<table cellpadding="0" cellspacing="0" width="100%">
					<colgroup>
						<col width="100">
					</colgroup>
					<colgroup>
						<col width="100">
						<col width="100">
					</colgroup>
					<colgroup>
						<col width="100">
						<col width="100">
					</colgroup>
					<colgroup>
						<col width="100">
						<col width="100">
					</colgroup>
					<tbody>
						<tr>
							<td style=""></td>
							<td colspan="2" bgcolor="#4a86e8" style="">
								<p align="center"><font color="#ffffff"><b><%=t :Friday %></b></font></p>
							</td>
							<td colspan="2" bgcolor="#4a86e8" style="">
								<p align="center"><font color="#ffffff"><b><%=t :Saturday %></b></font></p>
							</td>
							<td colspan="2" bgcolor="#4a86e8" style="">
								<p align="center"><font color="#ffffff"><b><%=t :Sunday %></b></font></p>
							</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td bgcolor="#3c78d8" style="">
								<p align="center"><font color="#ffffff"><b><%=t :Hour %></b></font></p>
							</td>
							<td bgcolor="#3c78d8" style="">
								<p align="center"><font color="#ffffff"><b><%=t :Spanish %></b></font></p>
							</td>
							<td bgcolor="#3c78d8" style="">
								<p align="center"><font color="#ffffff"><b><%=t :English %></b></font></p>
							</td>
							<td bgcolor="#3c78d8" style="">
								<p align="center"><font color="#ffffff"><b><%=t :Spanish %></b></font></p>
							</td>
							<td bgcolor="#3c78d8" style="">
								<p align="center"><font color="#ffffff"><b><%=t :English %></b></font></p>
							</td>
							<td bgcolor="#3c78d8" style="">
								<p align="center"><font color="#ffffff"><b><%=t :Spanish %></b></font></p>
							</td>
							<td bgcolor="#3c78d8" style="">
								<p align="center"><font color="#ffffff"><b><%=t :English %></b></font></p>
							</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td style="">
								<p align="center">9:00</p>
							</td>
							<td colspan="2" bgcolor="#c9daf8" style="">
								<p align="center"><%=t :<%=t :Opening %> %></p>
							</td>
							<td colspan="2" bgcolor="#c9daf8" style="">
								<p align="center"><%=t :Opening %></p>
							</td>
							<td colspan="2" bgcolor="#c9daf8" style="">
								<p align="center"><%=t :Desayuno %></p>
							</td>
						</tr>
						<tr>
							<td style="">
								<p align="center">9:30</p>
							</td>
							<td colspan="2" bgcolor="#c9daf8" style="">
								<p align="center"><%=t :Desayuno %></p>
							</td>
							<td colspan="2" bgcolor="#c9daf8" style="">
								<p align="center"><%=t :Desayuno %></p>
							</td>
							<td style="border: none; padding: 0cm"></td>
							<td style=""></td>
						</tr>
						<tr>
							<td style="">
								<p align="center">10:00</p>
							</td>
							<td style="border: none; padding: 0cm"></td>
							<td style=""></td>
							<td style="border: none; padding: 0cm"></td>
							<td style=""></td>
							<td style="border: none; padding: 0cm"></td>
							<td style=""></td>
						</tr>
						<tr>
							<td style="">
								<p align="center">10:30</p>
							</td>
							<td style=""></td>
							<td style=""></td>
							<td style=""></td>
							<td style=""></td>
							<td style=""></td>
							<td style=""></td>
						</tr>
						<tr>
							<td style="">
								<p align="center">11:00</p>
							</td>
							<td colspan="2" bgcolor="#c9daf8" style="">
								<p align="center"><%=t :Break %></p>
							</td>
							<td colspan="2" bgcolor="#c9daf8" style="">
								<p align="center"><%=t :Break %></p>
							</td>
							<td colspan="2" bgcolor="#c9daf8" style="">
								<p align="center"><%=t :Break %></p>
							</td>
						</tr>
						<tr>
							<td style="">
								<p align="center">11:30</p>
							</td>
							<td style="border: none; padding: 0cm"></td>
							<td style=""></td>
							<td style="border: none; padding: 0cm"></td>
							<td style=""></td>
							<td style="border: none; padding: 0cm"></td>
							<td style=""></td>
						</tr>
						<tr>
							<td style="">
								<p align="center">12:00</p>
							</td>
							<td style="border: none; padding: 0cm"></td>
							<td style=""></td>
							<td style=""></td>
							<td style=""></td>
							<td style="border: none; padding: 0cm"></td>
							<td style=""></td>
						</tr>
						<tr>
							<td style="">
								<p align="center">12:30</p>
							</td>
							<td style=""></td>
							<td style=""></td>
							<td colspan="2" style="">
								<p align="center"><%=t :Group_photo %></p>
							</td>
							<td style=""></td>
							<td style=""></td>
						</tr>
						<tr>
							<td style="">
								<p align="center">13:00</p>
							</td>
							<td rowspan="3" colspan="2" bgcolor="#c9daf8" style="">
								<p align="center"><%=t :Lunch %></p>
							</td>
							<td rowspan="3" colspan="2" bgcolor="#c9daf8" style="">
								<p align="center"><%=t :Lunch %></p>
							</td>
							<td rowspan="3" colspan="2" bgcolor="#c9daf8" style="">
								<p align="center"><%=t :Lunch %></p>
							</td>
						</tr>
						<tr>
							<td style="">
								<p align="center">13:30</p>
							</td>
						</tr>
						<tr>
							<td style="">
								<p align="center">14:00</p>
							</td>
						</tr>
						<tr>
							<td style="">
								<p align="center">14:30</p>
							</td>
							<td style="border: none; padding: 0cm"></td>
							<td style=""></td>
							<td style="border: none; padding: 0cm"></td>
							<td style=""></td>
							<td style="border: none; padding: 0cm"></td>
							<td style=""></td>
						</tr>
						<tr>
							<td style="">
								<p align="center">15:00</p>
							</td>
							<td style="border: none; padding: 0cm"></td>
							<td style=""></td>
							<td style="border: none; padding: 0cm"></td>
							<td style=""></td>
							<td style="border: none; padding: 0cm"></td>
							<td style=""></td>
						</tr>
						<tr>
							<td style="">
								<p align="center">15:30</p>
							</td>
							<td style="border: none; padding: 0cm"></td>
							<td style=""></td>
							<td style="border: none; padding: 0cm"></td>
							<td style=""></td>
							<td style="border: none; padding: 0cm"></td>
							<td style=""></td>
						</tr>
						<tr>
							<td style="">
								<p align="center">16:00</p>
							</td>
							<td style=""></td>
							<td style=""></td>
							<td style=""></td>
							<td style=""></td>
							<td style=""></td>
							<td style=""></td>
						</tr>
						<tr>
							<td style="">
								<p align="center">16:30</p>
							</td>
							<td colspan="2" bgcolor="#c9daf8" style="">
								<p align="center"><%=t :Snack %></p>
							</td>
							<td colspan="2" bgcolor="#c9daf8" style="">
								<p align="center"><%=t :Snack %></p>
							</td>
							<td colspan="2" bgcolor="#c9daf8" style="">
								<p align="center"><%=t :Snack %></p>
							</td>
						</tr>
						<tr>
							<td style="">
								<p align="center">17:00</p>
							</td>
							<td style="border: none; padding: 0cm"></td>
							<td style=""></td>
							<td style="border: none; padding: 0cm"></td>
							<td style=""></td>
							<td style="border: none; padding: 0cm"></td>
							<td style=""></td>
						</tr>
						<tr>
							<td style="">
								<p align="center">17:30</p>
							</td>
							<td style="border: none; padding: 0cm"></td>
							<td style=""></td>
							<td style="border: none; padding: 0cm"></td>
							<td style=""></td>
							<td style="border: none; padding: 0cm"></td>
							<td style=""></td>
						</tr>
						<tr>
							<td style="">
								<p align="center">18:00</p>
							</td>
							<td style="border: none; padding: 0cm"></td>
							<td style=""></td>
							<td style="border: none; padding: 0cm"></td>
							<td style=""></td>
							<td style="border: none; padding: 0cm"></td>
							<td style=""></td>
						</tr>
						<tr>
							<td style="">
								<p align="center">18:30</p>
							</td>
							<td style="border: none; padding: 0cm"></td>
							<td style=""></td>
							<td style="border: none; padding: 0cm"></td>
							<td style=""></td>
							<td style=""></td>
							<td style=""></td>
						</tr>
						<tr>
							<td style="">
								<p align="center">19:00</p>
							</td>
							<td style=""></td>
							<td style=""></td>
							<td style=""></td>
							<td style=""></td>
							<td colspan="2" bgcolor="#c9daf8" style="">
								<p align="center"><%=t :Closing %></p>
							</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td style=""></td>
							<td colspan="2" bgcolor="#c9daf8" style="">
								<p align="center"><%=t :Snack %></p>
							</td>
							<td colspan="2" bgcolor="#c9daf8" style="">
								<p align="center"><%=t :Snack %></p>
							</td>
							<td colspan="2" bgcolor="#c9daf8" style="">
								<p align="center"><%=t :Snack %></p>
							</td>
						</tr>
					</tbody>
				</table>
		</div>
		<div id="" class="row block same-height" style="">
  			<div class="col-xs-12 col-sm-4">

			</div>

  			<div class="col-xs-12 col-sm-4">
							
  			</div>

  			<div class="col-xs-12 col-sm-4">
  				
  			</div>
		</div>
   



  </div>
</div>

