<div id="program" class="row block">
  <div class="col-xs-12 col-sm-12">
    <h1 class=""><i class="fa fa-calendar" style="color:rgba(237, 28, 36, 0.75)"></i> <%=t :program %></h1>

		<h2><%=t :conference_date %></h2>
		
		<div id="" class="row">

<table class="table table-stripped table-hover" style="font-size:18px">
	<tr>
		<td height="21" align="left" valign="top"><br></td>
		<td colspan="6" rowspan=2 align="left" valign="top" bgcolor="#4A86E8"><b><font color="#FFFFFF"><%=t :friday %> - <%=t :professional_day %></font></b></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" bgcolor="#3C78D8"><b><font color="#FFFFFF">Hora</font></b></td>
	</tr>
	<tr>
		<td style="" height="21" align="left" valign="top" class="hour">9:00</td>
		<td colspan="6" align="left" valign="top" bgcolor="#C9DAF8"><%=t :checkin %> - <%=t :opening %> </td>
	</tr>
	<tr>
		<td style="" height="21" align="left" valign="top" class="hour">9:30</td>
		<td colspan="6" align="left" valign="top" bgcolor="#C9DAF8"><%=t :breakfast %>  (<%=t :included %>)</td>
	</tr>
	<tr>
		<td style="" height="55" align="left" valign="top" class="hour">10:00</td>
		<td align="left" valign="top">Jen Asbury</td>
		<td colspan="2" align="left" valign="top">How Corporations Identify Opportunities for OSM Contributions: A Baseline Belief in the Community's Mission</td>
		<td align="left" valign="top">Keynote</td>
		<td align="left" valign="top">MapQuest</td>
		<td align="left" valign="top"><%=t :US %></td>
	</tr>
	<tr>
		<td style="" height="21" align="left" valign="top" class="hour">10:30</td>
		<td align="left" valign="top">Stefan Keller</td>
		<td colspan="2" align="left" valign="top">OpenStreetMap Data Wrangling for Spatial Analysis and Professional Use</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top">University of Applied Sciences Rapperswil (UAS HSR)</td>
		<td align="left" valign="top"><%=t :CH %></td>
	</tr>
	<tr>
		<td style="" height="21" align="left" valign="top" class="hour">11:00</td>
		<td colspan="6" align="left" valign="top" bgcolor="#C9DAF8">Break</td>
	</tr>
	<tr>
		<td style="" height="21" align="left" valign="top" class="hour">11:30</td>
		<td align="left" valign="top">Mike Cunningham</td>
		<td colspan="2" align="left" valign="top">A consumer mapping app built entirely on open code and open data</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top">Mapzen</td>
		<td align="left" valign="top"><%=t :US %></td>
	</tr>
	<tr>
		<td style="" height="21" align="left" valign="top" class="hour">12:00</td>
		<td align="left" valign="top">Christian Quest</td>
		<td colspan="2" align="left" valign="top">OSM Quality Assurance thru cross checking statistics and external datasets</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top">OpenStreetMap <%=t :FR %></td>
		<td align="left" valign="top"><%=t :FR %></td>
	</tr>
	<tr>
		<td style="" height="21" align="left" valign="top" class="hour">12:30</td>
		<td align="left" valign="top">Francisco Javier Rodríguez Arias, Nicolás Lichtmaier</td>
		<td colspan="2" align="left" valign="top">Making the world computable using Wolfram Technologies and OpenStreetMap data</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top">Wolfram Research</td>
		<td align="left" valign="top"><%=t :US %></td>
	</tr>
	<tr>
		<td style="" height="21" align="left" valign="top" class="hour">13:00</td>
		<td colspan="6" rowspan=3 align="left" valign="top" bgcolor="#C9DAF8"><%=t :lunch %> (<%=t :included %>)</td>
	</tr>
	<tr>
		<td style="" height="21" align="left" valign="top" class="hour">13:30</td>
	</tr>
	<tr>
		<td style="" height="21" align="left" valign="top" class="hour">14:00</td>
	</tr>
	<tr>
		<td style="" height="21" align="left" valign="top" class="hour">14:30</td>
		<td align="left" valign="top">Nicole Beringer</td>
		<td colspan="2" align="left" valign="top">OSM on wheels</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top">Elektrobit Automotive GmbH</td>
		<td align="left" valign="top"><%=t :DE %></td>
	</tr>
	<tr>
		<td style="" height="21" align="left" valign="top" class="hour">15:00</td>
		<td align="left" valign="top">Sebastian Mattheis</td>
		<td colspan="2" align="left" valign="top">Putting Big Data on the Map</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top">BMW Car IT GmbH</td>
		<td align="left" valign="top"><%=t :DE %></td>
	</tr>
	<tr>
		<td style="" height="21" align="left" valign="top" class="hour">15:30</td>
		<td align="left" valign="top">Kevin Bullock</td>
		<td colspan="2" align="left" valign="top">Leveled up mapping with WorldView-3</td>
		<td align="left" valign="top">Keynote</td>
		<td align="left" valign="top">DigitalGlobe</td>
		<td align="left" valign="top"><%=t :US %></td>
	</tr>
	<tr>
		<td style="" height="21" align="left" valign="top" class="hour">16:00</td>
		<td align="left" valign="top">Julián Perelli</td>
		<td align="left" valign="top">Transporte público al alcance de todos</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top">CualBondi</td>
		<td align="left" valign="top"><%=t :AR %></td>
	</tr>
	<tr>
		<td style="" height="21" align="left" valign="top" class="hour">16:30</td>
		<td colspan="6" align="left" valign="top" bgcolor="#C9DAF8"><%=t :snack %></td>
	</tr>
	<tr>
		<td style="" height="21" align="left" valign="top" class="hour">17:00</td>
		<td align="left" valign="top">Brett Camper - Mapzen</td>
		<td colspan="2" align="left" valign="top">Tangram: an open-source WebGL engine for real-time 2D and 3D maps</td>
		<td align="left" valign="top">Keynote</td>
		<td align="left" valign="top">Mapzen</td>
		<td align="left" valign="top"><%=t :US %></td>
	</tr>
	<tr>
		<td style="" height="21" align="left" valign="top" class="hour">17:30</td>
		<td align="left" valign="top">Martijn van Exel</td>
		<td colspan="2" align="left" valign="top">OpenStreetMap and Telenav; Past, Present And Future</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top">Telenav</td>
		<td align="left" valign="top"><%=t :US %></td>
	</tr>
	<tr>
		<td style="" height="21" align="left" valign="top" class="hour">18:00</td>
		<td align="left" valign="top">Oscar Sergio Miranda</td>
		<td colspan="2" align="left" valign="top">Caminos y accesos Nacionales Para el Control y Fiscalización del Bosque y la Tierra -  ABT</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top">Autoridad en fiscalización y control social de Bosques y Tierras - ABT</td>
		<td align="left" valign="top"><%=t :BO %></td>
	</tr>
	<tr>
		<td style="" height="21" align="left" valign="top" class="hour">18:30</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
	</tr>
	<tr>
		<td style="" height="21" align="left" valign="top" class="hour">19:00</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top"><br></td>
		<td colspan="6" align="left" valign="top" bgcolor="#C9DAF8"><%=t :snack %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top"><br></td>
		<td colspan="6" rowspan=2 align="left" valign="top" bgcolor="#4A86E8"><b><font color="#FFFFFF"><%=t :saturday %> - <%=t :community_day %></font></b></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" bgcolor="#3C78D8"><b><font color="#FFFFFF">Hora</font></b></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">9:00</td>
		<td colspan="6" align="left" valign="top" bgcolor="#C9DAF8"><%=t :opening %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">9:30</td>
		<td colspan="6" align="left" valign="top" bgcolor="#C9DAF8"><%=t :breakfast %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">10:00</td>
		<td align="left" valign="top">Sterling Quinn</td>
		<td colspan="2" align="left" valign="top">The state of OpenStreetMap in South America: A computational and visual analysis</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top">The Pennsylvania State University</td>
		<td align="left" valign="top"><%=t :US %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">10:30</td>
		<td align="left" valign="top">Mauricio Miranda</td>
		<td colspan="2" align="left" valign="top">Comunidades libres: organización y anarquía</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top">Geoinquietos</td>
		<td align="left" valign="top"><%=t :AR %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">11:00</td>
		<td colspan="6" align="left" valign="top" bgcolor="#C9DAF8">Break</td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">11:30</td>
		<td align="left" valign="top">José Linhares da Silva</td>
		<td colspan="2" align="left" valign="top">Mapa Ecológico, onde os viajantes se encontram!</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><u><font color="#0000FF"><a href="http://mapaecologico.com.br/">mapaecologico.com.br</a></font></u></td>
		<td align="left" valign="top"><%=t :BR %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">12:00</td>
		<td align="left" valign="top">Peter Neubauer</td>
		<td colspan="2" align="left" valign="top">Mapillary - street level photos for OSM, directly in iD</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top">Mapillary</td>
		<td align="left" valign="top"><%=t :SE %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">12:30</td>
		<td colspan="6" align="left" valign="top" bgcolor="#FFF2CC">Foto grupal</td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">13:00</td>
		<td colspan="6" rowspan=3 align="left" valign="top" bgcolor="#C9DAF8"><%=t :lunch %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">13:30</td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">14:00</td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">14:30</td>
		<td align="left" valign="top">Pedro Ferraz Cruz</td>
		<td colspan="2" align="left" valign="top">OpenStreetMap como una herramienta para la gestión ambiental en <%=t :BR %></td>
		<td align="left" valign="top">Prof day?</td>
		<td align="left" valign="top">IBAMA - Instituto <%=t :BR %>eiro do Meio Ambiente e dos Recursos Naturais Renováveis</td>
		<td align="left" valign="top"><%=t :BR %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">15:00</td>
		<td align="left" valign="top">Christian Quest</td>
		<td colspan="2" align="left" valign="top">Benefit of data clustering for osm2pgsql/mapnik rendering.</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top">OSM <%=t :FR %></td>
		<td align="left" valign="top"><%=t :FR %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">15:30</td>
		<td align="left" valign="top">Ji Kim Lucas</td>
		<td colspan="2" align="left" valign="top">UAVs in humanitarian actions</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top">MicroMappers / <%=t :QA %> Computing Research Institute</td>
		<td align="left" valign="top"><%=t :QA %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">16:00</td>
		<td align="left" valign="top">Pierre Pezziardi<br>Christian Quest</td>
		<td colspan="2" align="left" valign="top">French &quot;BANO&quot; address database project: why and how a community initiative get endorsed by a government agency</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top">Etalab / OSM <%=t :FR %></td>
		<td align="left" valign="top"><%=t :FR %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">16:30</td>
		<td colspan="6" align="left" valign="top" bgcolor="#C9DAF8"><%=t :snack %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">17:00</td>
		<td align="left" valign="top">Fernando Raffo<br>Fernando Javier Umaña<br>Alumnos del CEM</td>
		<td colspan="2" align="left" valign="top">Posicionando a Río Chico en el mapa. Experiencia de mapeo colectivo con alumnos del Centro de Educación Media Rural de Río Chico, provincia de Río Negro.</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top">Instituto Nacional de Tecnología Agropecuaria. IDE RN</td>
		<td align="left" valign="top"><%=t :AR %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">17:30</td>
		<td align="left" valign="top">Marek Strassenburg Kleciak</td>
		<td colspan="2" align="left" valign="top">Future and possible improvement of S3DB definition</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top">OSM Polska</td>
		<td align="left" valign="top"><%=t :PL %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">18:00</td>
		<td align="left" valign="top">Harsha Devulapalli</td>
		<td colspan="2" align="left" valign="top">Producing Open Knowledge through Hyderabad Urban Lab</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top">Hyderabad Urban Lab</td>
		<td align="left" valign="top"><%=t :IN %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">18:30</td>
		<td align="left" valign="top">Rafael Avila Coya</td>
		<td colspan="2" align="left" valign="top">Public Health Mapping in <%=t :NI %> with OSM</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top">eHealth Africa</td>
		<td align="left" valign="top"><%=t :NI %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">19:00</td>
		<td align="left" valign="top">Luis Hernando Aguilar Ramirez</td>
		<td colspan="2" align="left" valign="top">Impacto de los mapas libres en la atención a los afectados por el tifón Haiyan - Filipinas en 2013 ¿Como los mapas libres ayudan a salvar vidas?</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top">Oficina de las Naciones Unidas para la Coordinación de Asuntos Humanitarios - OCHA</td>
		<td align="left" valign="top"><%=t :CO %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top"><br></td>
		<td colspan="6" align="left" valign="top" bgcolor="#C9DAF8"><%=t :snack %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top"><br></td>
		<td colspan="6" rowspan=2 align="left" valign="top" bgcolor="#4A86E8"><b><font color="#FFFFFF"><%=t :sunday %> - <%=t :community_day %></font></b></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" bgcolor="#3C78D8"><b><font color="#FFFFFF">Hora</font></b></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">9:00</td>
		<td colspan="6" align="left" valign="top" bgcolor="#C9DAF8"><%=t :breakfast %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">9:30</td>
		<td align="left" valign="top">Robert Buchholz</td>
		<td colspan="2" align="left" valign="top">3D Applications for OSM data</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><%=t :DE %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">10:00</td>
		<td align="left" valign="top">Ervin Ruci</td>
		<td colspan="2" align="left" valign="top">Crowd Sourcing Canadian Postal Codes</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top">Geolytica Inc.</td>
		<td align="left" valign="top">Canada</td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">10:30</td>
		<td align="left" valign="top">Beata Jancso</td>
		<td colspan="2" align="left" valign="top">ScoutSigns: automatic road sign collection during navigation and analysis via JOSM</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top">Telenav</td>
		<td align="left" valign="top"><%=t :RO %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">11:00</td>
		<td colspan="6" align="left" valign="top" bgcolor="#C9DAF8">Break</td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">11:30</td>
		<td align="left" valign="top">Joost Schouppe</td>
		<td colspan="2" align="left" valign="top">Statistics for local communities</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><%=t :BE %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">12:00</td>
		<td align="left" valign="top">Christoph Bünte</td>
		<td colspan="2" align="left" valign="top">Donating data to OSM ain’t easy - Wheelmap’s approach to data imports</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top">SOZIALHELDEN .e.V</td>
		<td align="left" valign="top"><%=t :DE %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">12:30</td>
		<td align="left" valign="top">Shawn Carrié<br>Sara Al Asfar</td>
		<td colspan="2" align="left" valign="top">Putting <%=t :PA %> on the map</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top">RamallahGeo</td>
		<td align="left" valign="top"><%=t :PA %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">13:00</td>
		<td colspan="6" rowspan=3 align="left" valign="top" bgcolor="#C9DAF8"><%=t :lunch %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">13:30</td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">14:00</td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">14:30</td>
		<td align="left" valign="top">Frederik Ramm</td>
		<td colspan="2" align="left" valign="top">Behind the Scenes of OSM Inspector</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><%=t :DE %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">15:00</td>
		<td align="left" valign="top">Frederik Ramm</td>
		<td colspan="2" align="left" valign="top">More than Just Data</td>
		<td align="left" valign="top">Reubicar</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><%=t :DE %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">15:30</td>
		<td align="left" valign="top">Hiroshi Miura</td>
		<td colspan="2" align="left" valign="top">Can Global Navigation Satellite System (GNSS) change a way of mapping?</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top">OSM Japan Foundation</td>
		<td align="left" valign="top"><%=t :JA %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">16:00</td>
		<td align="left" valign="top">Henk Hoff<br>Johan de Ruijter</td>
		<td colspan="2" align="left" valign="top">Dutch address and building import</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><%=t :NL %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">16:30</td>
		<td colspan="6" align="left" valign="top" bgcolor="#C9DAF8"><%=t :snack %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">17:00</td>
		<td align="left" valign="top">Gregor MacLennan</td>
		<td colspan="2" align="left" valign="top">Offline Community Mapping in the Amazon with iDEditor</td>
		<td align="left" valign="top">Reubicar con Track HOT / enviromental??</td>
		<td align="left" valign="top">Digital Democracy</td>
		<td align="left" valign="top"><%=t :US %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">17:30</td>
		<td align="left" valign="top">Harry Wood</td>
		<td colspan="2" align="left" valign="top">The Long Tail of OpenStreetMap</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><%=t :UK %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">18:00</td>
		<td align="left" valign="top">Harry Wood</td>
		<td colspan="2" align="left" valign="top">This year with H.O.T.</td>
		<td align="left" valign="top">Reubicar con Track HOT / enviromental</td>
		<td align="left" valign="top">HOT</td>
		<td align="left" valign="top"><%=t :UK %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">18:30</td>
		<td align="left" valign="top">Yuriy Czoli</td>
		<td colspan="2" align="left" valign="top">Extracting building height using Open Street Map building footprints and open LiDAR data.</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top">Development Seed</td>
		<td align="left" valign="top"><%=t :US %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top" class="hour">19:00</td>
		<td colspan="6" align="left" valign="top" bgcolor="#C9DAF8">Cierre</td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top"><br></td>
		<td colspan="6" align="left" valign="top" bgcolor="#C9DAF8"><%=t :snack %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top"><br></td>
		<td align="left" valign="top">Sukhjit Singh Sehra</td>
		<td align="left" valign="top">Topological Error Detection in OpenStreetMap Data.</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><%=t :IN %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top"><br></td>
		<td align="left" valign="top">Susanna Ånäs</td>
		<td align="left" valign="top">Wikimaps Expedition</td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top">Wikimedia <%=t :FI %></td>
		<td align="left" valign="top"><%=t :FI %></td>
	</tr>
	<tr>
		<td height="21" align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
		<td align="left" valign="top"><br></td>
	</tr>
</table>
		</div>
		<div id="" class="row block same-height" style="">
  			<div class="col-xs-12 col-sm-4">

			</div>

  			<div class="col-xs-12 col-sm-4">
							
  			</div>

  			<div class="col-xs-12 col-sm-4">
  				
  			</div>
		</div>
   



  </div>
</div>

