<div class="page-header">
  <h1><%=t '.title', :default => t(:sign_in) %></h1>
</div>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <%= f.check_box :remember_me, :class => 'text_field' %>
        <%= f.label :remember_me, :class => 'control-label' %>
      </label>
    </div>
  </div>
  
  <div class="control-group">
    <div class="controls">
      <%= f.submit t(:sign_in), :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                root_path, :class => 'btn' %>
    </div>
  </div>
<% end %>