<div id="artmap" class="hidden-xs"></div>

<div class="navbar navbar-fixed-top hidden-xs" role="navigation">
  <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/#about"><%=t :about %></a></li>
          <li><a href="/#venue"><%=t :the_venue %></a></li>
          <li><a href="/accommodation"><%=t :accommodation %></a></li>
          <li><a href="/program"><%=t :program %></a></li>
          <!--<li><a href="/transportation"><%=t :transportation %></a></li>-->
          <li><a href="/#register" id="register-button"><%=t :register %></a></li>
          <li><%=t "switch_lang.html" %></li>
        </ul>
  </div>
</div>
<div class="navbar visible-xs navbar-fixed-bottom" role="navigation">

  <div class="navbar-header">
    <button type="button" class="btn navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    <i class="fa fa-bars fa-2x" style="color:white"></i>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/#about"><%=t :about %></a></li>
          <li><a href="/#venue"><%=t :the_venue %></a></li>
          <li><a href="/accommodation"><%=t :accommodation %></a></li>
          <li><a href="/program"><%=t :program %></a></li>
          <!--<li><a href="/transportation"><%=t :transportation %></a></li>-->         
          <li><a href="/#register" id="register-button" style="margin-right:0"><%=t :register %></a></li>

          <li><%=t "switch_lang_phone.html" %></li>
        </ul>
  </div>
</div>